@font-face {
  font-family: "regular";
  src: url("./fonts/regular.ttf") format("truetype");
}

@font-face {
  font-family: "italic";
  src: url("./fonts/italic.ttf") format("truetype");
}

@font-face {
  font-family: "sans";
  src: url("./fonts/sans.ttf") format("truetype");
}

main {
  font-family: "regular";
  font-weight: 300;
  text-shadow: 0 0 0;
}

div {
  font-family: "regular";
}

.sans {
  font-family: "sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*reset for mobile browsers */
  font-weight: normal;
}

.title {
  font-family: "italic";
  line-height: 38px;
  font-size: 42px;
}

.sub-title {
  font-family: "italic";
  line-height: 26px;
  font-size: 30px;
}

.h3-title {
  line-height: 26px;
  font-size: 20px;
}

.bodyText {
  line-height: 24px;
  font-size: 14px;
}
