.grid-image-container {
    height: 100dvh;
    width: 100dvw;
    padding: 20px;
}

.grid-image-item {
    // background-color: gray;
    margin-bottom: 20px;
}

.filmstrip {
    --background: rgba(0, 0, 0, .35);
    --size: 5px;
    height: 150px;
    background-image:
        linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
    background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
    background-repeat: repeat-x;
    background-position: 0 var(--size), top left, 0 calc(100% - var(--size)), bottom left, 0 var(--size);
    padding: calc(var(--size) * 3) calc(var(--size) * 2.5);
    box-sizing: border-box;
}