.root {
  position: relative;
}

.nav-bar {
  height: 40px;
  background-color: red;
  z-index: 1000;
  position: fixed;
  display: flex;
  width: fit-content;
  top: 0px;
  margin: 20px auto;
  left: 50%;
  transform: translateX(-50%);

  min-width: 320px;
  width: 50vw;
  max-width: 700px;

  background: rgb(53, 53, 53, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(213, 213, 213, 0.16);

  padding: 8px;
}

.nav-item:not(:first-child, :last-child) {
  margin: 0 10px;
}

.nav-item {
  position: relative;
  height: 100%;
  border-radius: 12px;
  transition-duration: 0.4s;
  color: white;
  user-select: none;

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: white;
    background-color: #f06292;
  }
}